body {
    margin: 0;
}
b {
    color: lightseagreen;
}

.container {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
    height: 100vh;
}

.containter-header-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: lightgray;
}

.logo {
    width: 300px;
    mix-blend-mode: darken;
}

.title {
    font-size: 60px;
    height: fit-content;
}

.nav {
    background: lightsalmon;
}

.main {
    width: 100vw;
    display: flex;
    flex: 1;
}

.article {
    flex-grow: 5;
    display: flex;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
}

article > img {
    height: 450px;
}

.article-text {
    width: 700px;
    margin-right: 50px;
    line-height: 1.8;
}

.nav-article {
    flex-grow: 1;
    padding: 20px;
    font-size: 30px;
    flex-basis: 0;
}

.nav-article li {
    margin: 20px 0;
    list-style: none;
}

.nav-article li > a {
    text-decoration: none;
    color: lightseagreen;
}

.footer {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.logo-footer {
    height: 45px;
    margin-right: 20px;
}

.nav-footer {
    font-size: 18px;
}

.nav-footer a {
    color: lightseagreen;
    text-decoration: none;
}
